.footer_container{
background:#40409e ;
width: 100%;
/* padding: 70px 30px 20px; */
padding-top: 30px;


}

.socialIcon{
 display: flex;
 justify-content: center;
}

.socialIcon a{
    text-decoration: none;
    padding: 10px;
    background: white;
    margin: 10px;
    border-radius: 50%;

}

.socialIcon a i{
    font-size: 2em;
    color: #2c2c6c;
    opacity: 0.9;
}

.socialIcon a:hover{
    background: #2c2c6c;
    transition: 0.5s;
}
.socialIcon a:hover i{
    color: white;
    transition: 0.5s;
}
.footer_nav{
    padding-bottom: 30px;
}
.footer_nav ul{
    display: flex;
    justify-content: center;
}
.footer_nav ul li a{
    color: white;
    margin-top: 60px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.4;
    transition: 0.5s;
    /* margin-top: 1.5rem; */
}

.footer_nav ul li a:hover{
    opacity: 1;

}

.footer_bottom{
   
    background: #2c2c6c;
    padding: 20px;
    text-align: center;
    margin: 0px;
}
.footer_bottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0px 5px;
}


@media screen  and (max-width:700px){
    .footer_nav ul{
        display: flex;
        flex-direction: column;
    }
    .footer_nav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    
}